<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if message|length == 0 %}
    <form method="post" action="/confirm/">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{user}}"/>
        <lable for="password">Password:</lable><input type="password" name="password" id="password" placeholder="Enter Password"/><br/>
        <lable for="password2">Re-password:</lable><input type="password" name="password2" id="password2" placeholder="Enter Re-Password"/>
        <br/><button type="submit" name="Reset" value="Reset">Reset</button>
    </form>
    {% else %}
        {% if message == "Password Successfully Reset." %}
        <lable type="text" id="msg" name="msg" value="{{message}}" style="color: green;" readonly>{{message}}</lable>
        {% else %}
        <lable type="text" id="msg" name="msg" value="{{message}}" style="color: red;" readonly>{{message}}</lable>
        {% endif %}
    {% endif %}
</body>
</html>